/*header Start*/
header{
	background-color: #0d9fad;
}
.l_img{
	width: 100px;
}
.c_form{
	height: 30px;
    width: 150px !important;
    border-radius: 20px !important;
}
.c_btn{
	color: #ffff !important;
	height: 30px;
	padding: 0px 15px 0px 15px !important;
    border-radius: 20px !important;
}
.c_btn:hover{
	color: #FD6120 !important;
	background-color: #16B6C5 !important;
}
.menu ul li a{
	font-size: 14px;
	color: #fff !important;
	padding: 0 20px !important;
	transition: 0.5s;
}
.menu ul li a:hover{
	color: #FD6120 !important;
}
/*header end*/
/*courseName sart*/
.courseName{
	background-color: #b3eff5;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 65px;
}
.back_btn{
	background-color: #277683 !important;
	color: #ffff !important;
	height: 30px;
	padding: 1px 15px 0px 15px !important;
    border-radius: 20px !important;

}
.back_btn:hover{
	/*color: #FD6120 !important;*/
	background-color: #16B6C5 !important;
}
.btn-custom{
	background-color: #0d9fad !important;
    color: #fff !important;
    border-color: #0d9fad !important;
    margin: 20px 10px 20px 10px;
    border-radius: 10px !important;
    transition: .5s;
}
.btn-custom:hover{
	background-color: #07535a  !important;
}
/*courseName end*/
/*footer start*/
footer{
	background-color: #0D9FAD;
	padding-top: 30px;
}
.lms h3{
	font-weight: 700;
	font-size: 18px;
	color: #ffffff;
}
.lms h3 span{
	color: #3f488d;
	font-size: 35px;
}
.lms p{
	font-weight: 300;
	font-size: 14px;
	color: #ffffff;
}
.f_contact ul li a{
	font-weight: 300;
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
	transition: 1s;
}
.f_contact ul li a:hover{
	color: #fea71a;
}
.designed{
	background-color: #16B6C5;
	padding: 20px 0 5px 0px;
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.designed h2{
	font-weight: 300;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
}
.designed h2 a{
	color: #7df7c4;
	text-decoration: none;
	transition: 1s;
}
.designed h2 a:hover{
	color: #DE3F18;
}
/*footer end*/
