{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'lms/login.css' %}">
	<link rel="stylesheet" href="{% static 'lms/bootstrap.css' %}">

	<link rel="icon" type="image/x-icon" href="{% static 'images/ficon.png' %}">
	<title>Learning Management System</title>
</head>
<body>
	<section class="bg"  style="background-image: url('{% static "images/login_bannar.jpg" %}')";>
		<div class="container">
			<div class="row">
				<div class="offset-3 col-md-6 custom_bg">
					<div class="text-center">
						<h2 class="text-warning">Learning Management System</h2>
					</div>
					<form method="POST" action="{%  url 'login' %}">
						{% csrf_token %}
						<div class="mb-3 col-md-8">
							<label for="exampleInputEmail1" class="form-label fw-bold">User ID</label>
							<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
							<div id="emailHelp" class="form-text text-dark">We'll never share your UserID with anyone else.</div>
						</div>
						<div class="mb-3 col-md-6">
							<label for="exampleInputPassword1" class="form-label fw-bold">Password</label>
							<input type="password" class="form-control" id="exampleInputPassword1">
						</div>
						<div class="mb-3 form-check">
							<input type="checkbox" class="form-check-input" id="exampleCheck1">
							<label class="form-check-label fw-bold" for="exampleCheck1">Keep me login</label>
						</div>
						<button type="submit" class="btn btn-primary">Log in</button>
					</form>
					<div class="mt-2">
							<a class="text-warning text-decoration-none" href="#">Forgate Password</a>
						</div>
				</div>
				
				
			</div>
		</div>
	</section>

	
</body>
</html>
