{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'lms/view_T_course.css' %}">
	<link rel="stylesheet" href="{% static 'lms/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

	<link rel="icon" type="image/x-icon" href="{% static 'images/ficon.png' %}">
	<title>Learning Management System</title>
</head>
<body>
	<!-- header start -->
	<header class="fixed-top">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">
						<img class="img-fluid l_img" src="{% static 'images/logo.png' %}" alt="">
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse menu" id="navbarSupportedContent">
						<form class="d-flex" role="search">
							<input class="form-control me-2 c_form" type="search" placeholder="Search course" aria-label="Search">
							<button class="btn btn-outline-success c_btn" type="submit">Search</button>
						</form>
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">All courses</a>
							</li>
						</ul>
						<ul class="navbar-nav">
							<li>
								<a class="nav-link active" href="/teacher/">Teacher</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!-- header end -->
	<!-- course Name start -->
	<section class="courseName">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body col-md-9">
							<h2>Course Name</h2>
							<h5 class="card-title">Spring 221 CSE 4165/CSE 465 (A) : Web Programming</h5>
							<a href="/teacher/" class="btn back_btn"><i class="fa-solid fa-angle-left"></i> Back</a>

						</div>
					</div>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body col-md-12 text-center">
							<h2 class="card-title ">Notice</h2>
							<p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing, elit. Consequuntur maiores libero pariatur voluptate reprehenderit dolores rerum nihil odit. Ratione, velit.</p>
						</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<h5>Add Assignment</h5>
				<div class="mb-3">
					<input class="mb-2 form-control" type="text" placeholder="Add comment">
					<input class="" type="file" id="formFile">
					<div>
						<a href=""><button class="btn btn-custom" type="submit">Submit</button></a>
					</div>
				</div>
			</div>
		</div>
		<hr>
	</section>
	<!-- course Name end -->
	<!-- footer start -->
	<footer>
		<footer>
			<div class="container">
				<div class="row" style="padding-bottom: 50px;">

					<div class="col-lg-3 col-sm-12 col-12 lms">
						<h3><span>Learning </span>Management System</h3>
						<p>We invite you to explore our innovative and interactive Global Online Learning Experience.</p>
					</div>
					<div class="offset-1 col-md-2 f_contact">
						<ul class="list-unstyled">
							<li><a href="#home">Home</a></li>
							<li><a href="#about">About</a></li>
							<li><a href="#">Student Portal</a></li>
							<li><a href="#">Parent Portal</a></li>
							<li><a href="#">Faculty Members</a></li>
						</ul>
					</div>

					<div class="offset-md-1 col-md-3 offset-md-1 col-4 f_contact">
						<ul class="list-unstyled">
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Admission Test Result</a></li>
							<li><a href="#">Admission (Apply Online)</a></li>
							<li><a href="#">Degree Verification</a></li>
							<li><a href="#">Online Classroom Booking</a></li>
						</ul>
					</div>

					<div class="offset-md-0 col-md-2  f_contact">
						<ul class="list-unstyled">
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Youtube</a></li>
							<li><a href="#">Linked In</a></li>
							<li><a href="#">Instagram</a></li>
						</ul>
					</div>

				</div>
				<div class="row designed">
					<div class="col-12">
						<h2>Designed by <a href="#" target="_blank">Unknown software Team</a></h2>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer end -->
		
	</footer>
	<!-- footer end -->

</body>
</html>